@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <h1>Benvenuto, @context.User.Identity?.Name</h1>
</AuthorizeView>

<form action="/auth/logout" method="post">
    <button type="submit">Logout</button>
</form>
